{% extends "red/base.html" %}
{% block title %}{{ paper.title }}{% endblock %}
{% block extrastyle %}
    
{% endblock %}
{% block content %}
    <div class="tpl-page-container tpl-page-header-fixed">
        <div class="am-container">
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {{ paper.title }}
            {{ paper.pub_date }}
            {{ paper.content }}
            <a href="{% url 'red:paper_edit' paper.id %}">
                <button type="button" class="am-btn am-btn-primary am-radius">
                    <span style="color:white">Edit</span>
                </button>
            </a>
        </div>
    </div>
{% endblock %}
