{% extends "red/base.html" %}
{% block title %}Index{% endblock %}
{% block extrastyle %}
    <style>
        .get {
            background: #1E5B94;
            color: #fff;
            text-align: center;
            padding: 100px 0;
        }

        .get-title {
            font-size: 200%;
            border: 2px solid #fff;
            padding: 20px;
            display: inline-block;
        }

        .get-btn {
            background: #fff;
        }

        .detail {
            background: #fff;
        }

        .detail-h2 {
            text-align: center;
            font-size: 150%;
            margin: 40px 0;
        }

        .detail-h3 {
            color: #1f8dd6;
        }

        .detail-p {
            color: #7f8c8d;
        }

        .detail-mb {
            margin-bottom: 30px;
        }

        .hope {
            background: #0bb59b;
            padding: 50px 0;
        }

        .hope-img {
            text-align: center;
        }

        .hope-hr {
            border-color: #149C88;
        }

        .hope-title {
            font-size: 140%;
        }

        .about {
            background: #fff;
            padding: 40px 0;
            color: #7f8c8d;
        }

        .about-color {
            color: #34495e;
        }

        .about-title {
            font-size: 180%;
            padding: 30px 0 50px 0;
            text-align: center;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="get">
        <div class="am-g">
            <div class="am-u-lg-12">
                <h1 class="get-title">The Lazy SoyM</h1>
            </div>
        </div>
    </div>

    <div class="detail">
        <div class="am-g am-container">
            <div class="am-u-lg-12">
                <h2 class="detail-h2">Let's do it</h2>
                <div class="am-g">
                    <div class="am-u-lg-3 am-u-sm-12 am-u-lg-offset-1 detail-mb">
                        <a href="{% url 'red:panel' %}">
                            <h3 class="detail-h3">
                                <i class="am-icon-cogs am-icon-lg"></i>
                                Controller
                            </h3>
                        </a>
                        <p class="detail-p">
                            Controller Panel
                        </p>
                    </div>
                    <div class="am-u-lg-3 am-u-sm-12 am-u-lg-offset-1 detail-mb">
                        <a href="{% url 'red:post' %}">
                            <h3 class="detail-h3">
                                <i class="am-icon-plane am-icon-lg"></i>
                                Post
                            </h3>
                        </a>
                        <p class="detail-p">
                            Thought
                        </p>
                    </div>
                    <div class="am-u-lg-3 am-u-sm-12 am-u-lg-offset-1 detail-mb">
                        <a href="{% url 'red:project' %}">
                            <h3 class="detail-h3">
                                <i class="am-icon-rocket am-icon-lg"></i>
                                Project
                            </h3>
                        </a>
                        <p class="detail-p">
                            Cool!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
