{% extends "red/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}

{% block content %}
    <div class="tpl-page-container tpl-page-header-fixed">
        <div class="am-container">
            <h1>{{ title }}</h1>
            <form action="{% url 'red:paper_edit' id %}" method="post" id="paper_form">
                {% csrf_token %}
                <input name="title" type="hidden" value="{{ title }}" title="title">
                <textarea id="content" name="content" form="paper_form" title="content">
    </textarea>
                <button type="submit" class="am-btn am-btn-primary am-radius">
                    <span style="color:white">Save</span>
                </button>
            </form>
            <script>
                var simplemde = new SimpleMDE({element: $("#content")[0]});
                simplemde.value("{{ content }}");
            </script>
        </div>
    </div>
{% endblock %}

