{% extends "red/base.html" %}
{% block title %}Project{% endblock %}

{% block content %}
    <div class="tpl-page-container tpl-page-header-fixed">
        <div class="am-container">
            <ul>
                <li><a href="https://github.com/SoyM/STM32F103xx">STM32F103xx</a></li>
                <p>基于STM32F103C8T6（ARM Cortex-M3内核）开发，开发工具为keil uvision5</p>
                <li><a href="https://github.com/SoyM/wechat-sdk">wechat-sdk</a></li>
                <p>微信sdk-基于thinkphp5开发</p>
            </ul>
        </div>
    </div>
{% endblock %}